<div class="row" class="top">
  <div class="col button" style="padding-bottom: 2vw;">
    <img src="/assets/button_normal.png" (click)="newGame()" style="width: 100%;">
    <div class="button-text" (click)="newGame()">Restart</div>
  </div>
  <div class="col" style="display: inline-block; width: 40%; font-size: 2.7vw; vertical-align: bottom; padding-bottom: 0.5vw;">
    <div class="row" style="text-align: center;">
      {{gamesPlayed}} played, {{gamesWon}} won.
    </div>
  </div>
  <div class="col button" style="float: right;">
    <img src="/assets/button_normal.png" style="width: 100%;">
    <div class="button-text">{{moves}} moves</div>
  </div>
</div>

<div *ngIf="state" class="row">
  <div *ngFor="let cardCol of state; let col = index" class="card-column">

    <img src="/assets/cell.png" class="cell" (click)="onPileClick(col)">

    <div *ngIf="finished[col]">
      <img src="/assets/done.png" class="first-card">
    </div>
    <div *ngIf="!finished[col]">
      <div *ngFor="let card of cardCol; let first = first; let row = index;">
        <img [src]="card.img()" 
            [ngClass]="[first ? 'first-card' : 'card', cardIsSelected(col, row) ? 'selected' : '', card.cheated ? 'cheated' : '']"
            (click)="onCardClick(card, col, row)">
      </div>
    </div>
  </div>
</div>